BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 110

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty

